<template>
  <div>
    <h2>Add new Machine</h2>
    <el-form v-loading="loading" :model="form" :rules="rules" ref="ruleForm">
      <el-form-item  label="Machine ID (Required)" prop="machineID">
        <el-input v-model="form.machineID"></el-input>
      </el-form-item>
      <el-form-item label="Description (Required)" prop="description">
        <el-input type="textarea" v-model="form.description"></el-input>
      </el-form-item>
      <el-form-item label="Location (Required) " prop="locationID">
        <el-select v-model="form.locationID" placeholder="Select">
          <el-option
            v-for="item in data"
            :key="item.value"
            :label="item.locationname"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>

      <el-form-item>
        <el-button @click="save" type="primary">Save</el-button>
        <el-button @click="resetForm('ruleForm')">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "MachineCreate",
  data() {
    return {
      loading: false,
      form: {
        Id: 0,
        machineID: null,
        description: null,
        locationID: ""
      },
      data: [],

      rules: {
        machineID: [
          { required: true, message: "Please input machineID" },
          { min: 3, message: "Your name must be longer than 3 characters" }
        ],
        description: [
          { required: true, message: "Description must not be empty" }
        ],
        locationID: [
          { required: true, message: "Please select input Locaton " }
        ]
      }
    };
  },
  computed: {
    //  pageTitle() {
    //   return this.$route.params.id === undefined
    //     ? "Add new Machine"
    //     : `Edit ${this.form.machineID}`;
    // }
  },
  created() {
    let seft = this;
    seft.getlocation(seft.$route.params.id);
    seft.get(seft.$route.params.id);
  },
  methods: {
    get(id) {
      if (id == undefined) return;
      let seft = this;
      seft.loading = true;
      seft.$store.state.services.rawService
        .get(id)
        .then(r => {
          seft.loading = false;
          seft.form.machineID = r.data.data.machineID;
          seft.form.description = r.data.data.description;
          seft.form.locationID = r.data.data.locationID;
        })
        .catch(r => {
          seft.$message({
            message: "error",
            type: "error"
          });
        });
    },
    resetForm(ruleForm) {
      this.$refs[ruleForm].resetFields();
      this.$router.push("/machines");
    },
    save() {
      let seft = this;
      seft.$refs["ruleForm"].validate(valid => {
        if (valid) {
          seft.loading = true;
          seft.$store.state.services.rawService
            .add(seft.form)
            .then(r => {
              seft.loading = false;
              seft.$router.push("/machines");
              seft.$message({
                message: "success",
                type: "Created successfully"
              });
            })
            .catch(r => {
              seft.$message({
                message: "error",
                type: "error"
              });
            });
        }
      });
    },
    getlocation(id = this.Id) {
      let seft = this;
      seft.loading = true;
      seft.$store.state.services.rawService
        .getlocation(id)
        .then(r => {
          seft.loading = false;
          seft.data = r.data.location;
        })
        .catch(r => {
          seft.$message({
            message: "error",
            type: "error"
          });
        });
    }
  }
};
</script>